<div class="fullpage-home">
	<div class="section" id="section1">
    <div id="content1">
      <div id="content1-child"><img alt="" src="imgs/1.jpg" alt="Smiley face" height="600" width="300" style="display: inline-block;" ></div>
     </div>
    <div id="content2" >
      <div id="content2-child">
        <h2 class="animated rollIn">Anuja Verma</h2>
        <p style="font-family: 'Armata', sans-serif;">About Me</p>
        <p style="font-family: 'Armata', sans-serif;">I consider myself fortunate to have a life so far infused with varied experiences. In quest to achieve something that can provide satisfaction to me, my emphasis has been on to explore and exploit my strengths in life.</p>

      </div>
    </div>
  </div>
	<div class="section" id="section2"><h1>Tech Skills</h1></div>
	<div class="section" id="section3"><h1>Projects</h1></div>
	<div class="section" id="section4"><h1>Contact</h1></div>
</div>


<!-- for testing div position -->
<!-- style="border:1px dotted black;" -->