<div class="fullpage-home">
	<div class="section" id="section1">
    <div id="content1">
      <div id="content1-child"><img alt="" src="imgs/1.jpg" alt="Smiley face" height="600" width="300" style="display: inline-block;" ></div>
     </div>
    <div id="content2" >
      <div id="content2-child">
        <h2 class="animated rollIn">Anuja Verma</h2>
        <p style="font-family: 'Armata', sans-serif;">About Me</p>
        <p style="font-family: 'Armata', sans-serif;">I consider myself fortunate to have a life so far infused with varied experiences. In quest to achieve something that can provide satisfaction to my nerd self, my emphasis has been on to explore and exploit my strengths in life.</p>
      </div>
    </div>
  </div>
	<div class="section" id="section2" style="font-family: 'Armata', sans-serif;">
    <center>
        <h2>Technologies:</h2>
        <table>
          <tr>
            <td>
              <img src="imgs/HTML5.png" style="width:80px;height:80px;" />
            </td>
            <td><img src="imgs/bootstrap.png" style="width:80px;height:80px;" /></td>
            <td><img src="imgs/css3.png" style="width:60px;height:80px;" /></td>
            <td style="width:80px;height:80px;"><img src="imgs/firebase.png"/></td>
            <td><img src="imgs/javascript.png" style="width:80px;height:80px;" /></td>
            <td><img src="imgs/mapbox.png" style="width:80px;height:80px;" /></td>
            <td><img src="imgs/ruby.png" style="width:80px;height:80px;" /></td>
            <td><img src="imgs/postgresql.png" style="width:80px;height:80px;" /></td>
            <td style="width:80px;height:80px;"><img src="imgs/HerokuLogo.png" /></td>
            <td><img src="imgs/rails.png" style="width:60px;height:80px;" /></td>
            <td style="width:100px;height:100px;"><img src="imgs/react.png" /></td>
            <td style="width:100px;height:100px;"><img src="imgs/sinatra.png" /></td>
          </tr>
          <tr></tr>
          <tr></tr>
          <tr></tr>
        </table>

      </center>
      <br>
      <center>
        <h2>Github:</h2><a href="https://github.com/anujaverma11">https://github.com/anujaverma11</a>
      </center>
  </div>


	<div class="section" id="section3">

    <h2>Projects</h2>
    <div class="slide slide1">
      <div class="intro">
        <a href="http://mytravel-journal.herokuapp.com/">
          <img src="imgs/z_projects/travel-journal.png" alt="Smiley face" height="100%" width="100%" style="display: inline-block;" >
        </a>
      </div>
    </div>
    <div class="slide slide2">
      <div class="intro">
        <a href="http://staytogether.herokuapp.com/">
          <img src="imgs/z_projects/stay-together.png" alt="Smiley face" height="120%" width="100%" style="display: inline-block;" >
        </a>
      </div>
    </div>
    <div class="slide slide3">
      <div class="intro">
        <a href="">
          <img src="imgs/z_projects/luxe.png" alt="Smiley face" height="100%" width="100%" style="display: inline-block;" >
        </a>
      </div>
    </div>
    <div class="slide slide4">
      <div class="intro">
        <a href="">
          <img src="imgs/z_projects/Happenin.png" alt="Smiley face" height="100%" width="100%" style="display: inline-block;" >
        </a>
      </div>
    </div>
  </div>
	<div class="section" id="section4">
    <h2>Contact</h2>
      <center>
        <div class="contacts">
          <a href="mailto:anuja.verma@gmail.com">
            <div class="left"><img src="imgs/contact/email-icon.png" style="width:200px;height:200px;" /><br>
              <p>anuja.verma@gmail.com</p>
            </div>
          </a>
          <a href="">
            <div class="left"><img src="imgs/contact/phone.png" style="width:200px;height:220px;" />
              <p>(415)-606-3776</p>
            </div>
          </a>

        </div>
    </center>
  </div>
</div>


<!-- for testing div position -->
<!-- style="border:1px dotted black;" -->