<div class="fullpage-home">
	<div class="section" id="section1">
    <div id="content1">
      <div id="content1-child"><img alt="" src="imgs/1.jpg" alt="Smiley face" height="600" width="300" style="display: inline-block;" ></div>
     </div>
    <div id="content2" >
      <div id="content2-child">
        <h2 class="animated rollIn">Anuja Verma</h2>
        <p style="font-family: 'Armata', sans-serif;">About Me</p>
        <p style="font-family: 'Armata', sans-serif;">I consider myself fortunate to have a life so far infused with varied experiences. In quest to achieve something that can provide satisfaction to my nerd self, my emphasis has been on to explore and exploit my strengths in life.</p>

      </div>
    </div>
  </div>
	<div class="section" id="section2" style="font-family: 'Armata', sans-serif;">
    <h2>Technologies:</h2>
       <center>
        <table>
          <tr>
            <td><img src="imgs/HTML5.png" style="width:150px;height:150px;" /></td>
            <td><img src="imgs/bootstrap.png" style="width:150px;height:150px;" /></td>
            <td><img src="imgs/css3.png" style="width:100px;height:150px;" /></td>
            <td style="width:150px;height:150px;"><img src="imgs/firebase.png"/></td>
            <td><img src="imgs/javascript.png" style="width:150px;height:150px;" /></td>
            <td><img src="imgs/mapbox.png" style="width:150px;height:150px;" /></td>
          </tr>
          <tr>

          </tr>
          <tr>
            <td><img src="imgs/ruby.png" style="width:100px;height:100px;" /></td>
            <td><img src="imgs/postgresql.png" style="width:150px;height:150px;" /></td>
            <td style="width:150px;height:150px;"><img src="imgs/HerokuLogo.png" /></td>
            <td><img src="imgs/ruby_on_rails.svg.png" style="width:100px;height:120px;" /></td>
            <td style="width:150px;height:150px;"><img src="imgs/react.png" /></td>
            <td style="width:150px;height:150px;"><img src="imgs/sinatra.png" /></td>
          </tr>
        </table>
      </center>
      <h4>Other Tools and Technologies:</h4>
      <p>Agile Methodology / JIRA Software / D3.js / Angular.js / Redis / Sidekiq / various Mainframe Technologies</p>
  </div>
	<div class="section" id="section3">
    <h2>Projects</h2>
    <div class="part1"></div>
    <div class="part2"></div>
    <div class="part3"></div>
    <div class="part4"></div>
  </div>
	<div class="section" id="section4">
    <h1>Contact</h1>
  </div>
</div>


<!-- for testing div position -->
<!-- style="border:1px dotted black;" -->