<div class="fullpage-home">
	<div class="section" id="section1"><h1>Title 1</h1></div>
	<div class="section" id="section2"><h1>Title 2</h1></div>
	<div class="section" id="section3"><h1>Title 3</h1></div>
	<div class="section" id="section4"><h1>Title 4</h1></div>
</div>