<h1>Resume</h1>
<a href="/imgs/Resume_Anuja_Verma.pdf" download>Click to Download!</a>
<br>
<div class="resume">
  <center>
    <embed src="/imgs/Resume_Anuja_Verma.pdf" width="800px" height="2100px">
  </center>
</div>

