// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-size: 5em;
	font-family: arial,helvetica;
	// color: #fff;
	margin: 0;
	padding: 0;
}

#content1 {
	float: left;
	width: 50%;
	height: 100%;
	border: 1px;
	position: relative;
}
#content2 {
	float: left;
	width: 50%;
	height: 100%;
	text-align:center;
	border: 1px;
	position: relative;
}
#content1-child {
  position: absolute;
  top: 50%;
  left: 50%;
  height:30%;
  width:50%;
  margin: -35% 0 0 -25%;
 }


#content2-child {
  position: absolute;
  top: 50%;
  left: 10%;
  height:30%;
  width:100%;
  margin: -15% 0 0 -25%;
  color: #fff;
 }
 #content2-child h2 {
 	font-family: 'Pinyon Script', cursive;
 	font-size: 80px;
 }


#section1{
	background-size: cover;
	background-image: image-url("back.jpg");
}

#section1 {
	background-image: image-url("back.jpg");
}

#section2 {
  background-color: white;
    width: 1200px;
    padding: 25px;
    border: 25px;
    margin: 25px;

}

#section3 {
	background-image: image-url("");
  color: #fff;
}

#section4 {
	background-image: image-url("back.jpg");
  color: #fff;
}

.part1 {
    width:50%;
    height: 50%;
    float: left;
    background-image: image-url("Proj1.jpg");
}
.part2 {
    width:50%;
    height: 50%;
    float: left;
    background-image: image-url("Proj2.jpg");
}
.part3 {
    width:50%;
    height: 50%;
    float: left;
    background-image: image-url("Proj3.jpg");
}
.part4 {
    width:50%;
    height: 50%;
    float: left;
    background-image: image-url("Proj4.jpg");
}
